.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin: 2rem 0;
  position: relative;
  transition: transform 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
    width: 7rem;
    height: 7rem;
    background: rgba(99, 102, 241, 0.12);
    filter: blur(3rem);
    border-radius: 50%;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &:hover {
    transform: translateY(-0.2rem);
  }
}

.reverse {
  flex-direction: row-reverse;
}

.imageWrapper {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 1.25rem;
  overflow: hidden;
  background: #f8fafc;
}

.image {
  object-fit: cover;
  transition: transform 0.4s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.content {
  flex: 1;
  max-width: 32.5rem;

  .title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #414141;
    letter-spacing: -0.01875rem;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0.25rem;
      background: #6366f1;
      border-radius: 0.25rem;
      margin-top: 0.25rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    li {
      font-size: 1rem;
      color: #414141;
      line-height: 1.6;
    }
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column-reverse;
    text-align: center;
    gap: 1.5rem;
    margin: 0.5rem 0;
  }

  .imageWrapper {
    width: 12.5rem;
    height: 12.5rem;
  }

  .content {
    max-width: 100%;

    ul { 
      gap: 0.2rem;
    }

    .title {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      
    }
  }
}