
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #414141;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .list {
    gap: 0;
  }
}
